* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url(../images/fondogris.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(29, 29, 32);
}

/* HEADER */
.navbar-nav {
  margin-right: 15px;
  gap: 25px;
}
.navbar-nav .nav-item a {
  color: #000;
  font-size: 25px;
  background-color: white;
  border-radius: 30px;
  padding: 0;
  transition: 0.3s;
}
.navbar-nav .nav-item a:hover {
  transform: scale(1.2);
  color: #000;
  background-color: rgb(228, 77, 38);
}

.navbar-brand {
  background-color: rgb(29, 29, 32);
  border-radius: 90px;
  transition: 0.5s;
}

.navbar-brand:hover {
  background-color: white;
}

footer {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: auto;
  justify-content: center;
  border-top: 2px solid #444;
}
footer .footer-container {
  display: flex;
}
footer .footer-container .ul-footer {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
footer .footer-container .ul-footer li i {
  transform: scale(3);
}

/* INDEX HTML */
.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentacion .imagenPresentacion img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 350px;
}
.presentacion .containerH1 h1 {
  font-family: kanit;
  color: white;
  font-size: 45px;
}

.sobre_mi {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.sobre_mi h3 {
  color: white;
  font-size: 45px;
  margin-bottom: 35px;
  font-weight: 600;
}
.sobre_mi p {
  color: white;
  font-size: 30px;
  max-width: 75%;
  text-align: center;
  font-weight: 200;
}

/* PORTAFOLIO */
.main-portafolio .flex-container {
  display: flex;
  margin: 15px;
}
.main-portafolio .flex-container .flex-item {
  width: 450px;
  height: auto;
  background-color: black;
  color: white;
}
.main-portafolio .flex-container .flex-item a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid black;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-contacto .contacto-logos {
  display: flex;
  gap: 35px;
  justify-content: center;
}
.main-contacto .flex-item-contacto a i {
  font-size: 65px;
}
.main-contacto .flex-item-contacto.textarea textarea {
  outline: none;
  width: 60vw;
  min-width: 120px;
  resize: none;
}

/* CONOCIMIENTO */
.main-conocimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 10vw;
}
.main-conocimiento p {
  width: 70%;
  background-color: #333;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  color: black;
  font-size: 35px;
  margin-bottom: 40px;
  color: #000;
  font-weight: 700;
}
.main-conocimiento .logos-conocimiento {
  display: flex;
  gap: 10px;
  width: 70%;
  max-width: 550px;
}
.main-conocimiento .logos-conocimiento img {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 990px) {
  .nav-item {
    text-align: center;
  }
  .main-experiencia {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */